
td{
    text-align: center;
    padding: 8px;
}
th{
    text-align: center;
    padding: 8px;
}
tr{
    color: #166fa3;
}
tr th{
    color:#1896df;
}
th, td {
    border-bottom: 1px solid #ddd;
  }
@media screen and (min-width:728px) {
    td{
        text-align: center;
        padding: 12px;
    }
    .table{
        margin-top: 40px;
    }
}